langchain
llama-index
chromadb
pysqlite3-binary
sentence-transformers
google-generativeai
pypdf
python-dotenv
langchain-google-genai
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
streamlit